#root {
  font-family: 'Poppins', 'PT Sans Caption',"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  background-color: #fafafa;
}

/* .logo {
  height: 3em;
  padding: 1.5em;
} */

/* header */
/* header {
  background-color: #fafafa;
  box-shadow: 0 0 5px grey;
} */

/* nav */
/* .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .nav > ul {
  list-style: none;
  display: flex;
} */

/* .nav > ul > li {
  padding: 10px;
} */

.hero {
  padding-top: 100px;
}

.hero-title {
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}

.hero-subtitle {
  color: #838986;
  font-family: 'Nunito Sans';
  font-size: 23px;
  font-weight: normal;
  text-align: center;
}

.article {
  max-width: 600px;
  margin: 0 auto;
	padding: 1em;
}

.footer {
  text-align: center;
  background-color: #8fb879;
  color: white;
  width: 100%;
  padding: 1rem 0;
}

.container {
  max-width: 600px;
  margin: auto;
}